header {
	height: 65px;
}

nav {
	width: 800px;
	height: 50px;
	color: #ffffff;
	background-color: #000000;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 15px;
	left: right;
	font-size: 14px;
	font-weight: bold;
}

div.icon {
	position: absolute;
	width: 300px;
	height: 100px;
	background: url('/assets/images/avof-logo.png') no-repeat;
	float: left;
	margin-left: -25px;
}

nav ul {
	display: inline;
	float: right;
	line-height: 50px;
}

nav ul li {
    display: inline-block;
    height: 47px;
    padding: 0 12px;
    text-transform: capitalize;
}

nav ul li:hover,
nav ul li.active {
	cursor: pointer;
	border-bottom: 3px solid white;
}


