body {
	background: #000000 url("/assets/images/background1.jpg") no-repeat scroll center top;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.page {
	background: url("/assets/images/backgroundTransparent.png") repeat-y center top;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	min-height: 1500px;
	

}

.pageContent {
	margin-top: 15px;
}

/*** Common styles ***/
.hide {
	display: none;
}

