extends layout

block content
	div.clients-table
		table.clients

	div.edit-clients-wrapper
		div.edit-clients-form 
			div.edit-wrapper
				h2 Customer information
				label Name
					input 
			div.close-button

