title #{title}

meta(charset='utf-8')

link(rel='stylesheet', href='css/reset.css')
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/header.css')

link(rel='stylesheet', href='css/jsgrid-theme.min.css')
link(rel='stylesheet', href='css/jsgrid.min.css')

