title #{title}

meta(charset='utf-8')

link(rel='stylesheet', href='css/reset.css')
link(rel='stylesheet', href='css/jquery.dataTables.min.css')
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/header.css')


link(rel='stylesheet', href='css/jsgrid-theme.min.css')

link(rel='stylesheet', href='css/jsgrid.min.css')

script(src='scripts/jquery-1.11.3.min.js')

script(src='scripts/jquery.dataTables.min.js')

